*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    height:100vh;
    background:var(--bg-main);
}
:root
{
    --bg-cor:#0f1730;
    --bg-main:#f2f2f2;
}
#container-head
{
    display: flex;
    align-items:center;
    justify-content: center;
    background: #fff;
    height:50px;
}
#container2
{
    width:70%;
    display: flex;
    align-items:center;
    justify-content:space-around;
    /* background: #f2f2f2; */
    padding-block: 5px;
}
#logo-container{
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content:center;
    gap:10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#logo-container h1{
    color:var(--bg-cor) ;
}
#container-input
{
    width:450px;
    height:30px;
    /* background: #0f1730; */
    position:relative;
    border: 2px solid var(--bg-cor);
    border-radius:5px;
}
#input-seach
{
    width: 100%;
    height: 100%;
    padding: 10px 8px;
    border: none;
}
#input-seach:focus
{
    outline: 2px solid var(--bg-cor);
    border-radius:5px;
}
#container-input label
{
    position: absolute;
    top:0;
    right:0;
    transform: translate(2%);
    padding:2px 5px;
    z-index: 999;
    background: var(--bg-cor);
}
#contanier-car
{
    background: #fff;
    position: relative;
}
#num-produtos
{
    background: var(--bg-cor);
    color: #fff;
    display: flex;
    align-items:center;
    justify-content: center;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    font-size: 10px;
    position: absolute;
    top:-5px;
    right:-4px;
}
#btn-add
{
    /* border: 1px solid red; */
    /* background: rgba(0, 0, 0, 0.2); */
}
#btn-add button
{
    border:none;
    outline:none;
    background:var(--bg-cor); 
    border-radius: 5px;
    padding: 8px 25px;
    color:var(--bg-main);
    cursor: pointer;
}


/* editando os cards */
#container-card
{
    width:70%;
    margin:20px auto 0 auto;
    border: 1px solid red;
} 
#cards-main
{
    display: flex;
}
.card{

}
.cont-img
{
    
}