*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    height:100vh;
    background:var(--bg-main);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--bg-cor);
}
:root
{
    --bg-cor:#0f1730;
    --bg-main:#f2f2f2;
}
#container-head
{
    display: flex;
    align-items:center;
    justify-content: center;
    background: #fff;
    height:50px;
}
#container2
{
    width:70%;
    display: flex;
    align-items:center;
    justify-content:space-around;
    /* background: #f2f2f2; */
    gap:10px;
}
#logo-container{
    /* border: 1px solid red; */
    display: flex;
    align-items:center;
    justify-content:center;
    flex-wrap: wrap;
    gap:10px;
     position:relative;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#logo-container h1{
    color:var(--bg-cor) ;
    font-weight:400;
}
#logo-container a{
    background:var(--bg-main);
    display: flex;
    align-items: center;
    justify-content:center;
    padding:2px 1px 0px 5px;
    border-radius:4px;
    text-decoration: none;
    border: 1px solid #e6e2e2;
    transform: translateY(3px);
}
#logo-container a::after
{
    content: '‣';
    transform: rotate(90deg);
    margin-left:2px;
    font-size:20px;
    margin-right:0;
    padding-right:0;
}
#drop-drap
{
    /* width:150px; */
    /* border: 1px solid red; */
    position:absolute;
    top:3.2rem;
    right:0;
    left:-10px;
    background:#fff;
    border-radius:5px;
    padding:0;
    padding-block:5px;
    box-shadow:0px 2px 3px #c5cfef, 0px 2px 3px #c5cfef;
    display: none;
    transition: display 0.5s ease;
}

#drop-drap::after
{
    content:' ';
    border-width:10px;
    border-style:solid;
    border-color:transparent #fff  transparent transparent;
    transform:rotate(90deg);
    position: absolute;
    top:-19px;
    right:1rem;
    
}
#drop-drap>ul
{
    list-style: none;
}
#drop-drap>ul li{
    padding: 10px 8px;
    color: var(--bg-cor);
    font-size:1rem;
    font-weight:500;
    cursor: pointer;
}
#drop-drap >ul li:hover
{
    background:var(--bg-main);
}
#container-input
{
    width:450px;
    height:30px;
    /* background: #0f1730; */
    position:relative;
    border: 2px solid var(--bg-cor);
    border-radius:5px;
}
#input-search
{
    width: 100%;
    height: 100%;
    padding: 10px 8px;
    border: none;
}
#input-search:focus
{
    outline: 2px solid var(--bg-cor);
    border-radius:3px;
}
#container-input label
{
    position: absolute;
    top:0;
    right:0;
    transform: translate(2%);
    padding:2px 5px;
    z-index: 999;
    background: var(--bg-cor);
    border-bottom-right-radius:5px;
     cursor: pointer;
}
#contanier-car
{
    background: #fff;
    position: relative;
    cursor: pointer;
}
#num-produtos
{
    background: var(--bg-cor);
    color: #fff;
    display: flex;
    align-items:center;
    justify-content: center;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    font-size: 10px;
    position: absolute;
    top:-5px;
    right:-4px;
}
#btn-add button a
{
    /* border: 1px solid red; */
    /* background: rgba(0, 0, 0, 0.2); */
     color:var(--bg-main);
}
#btn-add button
{
    border:none;
    outline:none;
    background:var(--bg-cor); 
    border-radius: 5px;
    padding:8px 25px;
    color:var(--bg-main);
    cursor:pointer;
}


/* editando os cards */
#container-card
{
    width:100%;
    max-width:1000px;
    margin:30px auto 0 auto;
    /* border: 1px solid red; */
    display:flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction:column;
    gap:30px;
    padding-bottom: 10px;
} 

#text-exp
{
    width:500px;
    margin-inline:auto;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
#text-exp p{
    font-weight:500;
    font-family:serif;
    font-size: larger;
}
#text-exp > span{
    display: block;
    height:0.06rem;
    background:#777272;
    width:150px;
}
#cards-main
{
    display: grid;
    grid-template-columns:repeat(6,1fr);
    gap:12px;
    /* border: 1px solid green; */
    padding:10px;
}

#cards-main .card{
    flex:1;
    width:160px;
    background:#fff;
    padding:5px;
    box-shadow:2px 2px 6px #c5cfef, 2px 2px 2px #c5cfef;
    transition:all 0.2s;
}

#cards-main:has(.card:hover) .card:not(:hover)
{
    scale:0.98;
}

.card .cont-img{
    width:100%;
    height:160px;
    background:var(--bg-main);
    border-radius:10px;
    overflow:hidden;
    cursor:pointer;
    border: 1px solid rgba(0, 0,0, 0.2);
}
.cont-img img{
    max-width:100%;
    height:100%;
}
.card h3{
    font-size:large;
}
.card h3>small{
    font-size:10px;
}
.card del{
    color:#777272;
    font-size:small;
}
.card .fret{
    font-size:12px;
    font-weight: 600;
}
.card .cat{
    display:block;
    font-size: 0.6rem;
    font-weight: 600;
}
@media (max-width:720px){
    #cards-main{
        grid-template-columns:repeat(3,1fr);
    }
}
@media (max-width:360px){
    #cards-main{
        grid-template-columns:1fr 1fr;
    }
}